<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Type / </span>Nouveau médicament</h4>
<div class="row">
    <!-- Basic with Icons -->
    <div class="col-xxl">
      <div class="card mb-4 col-md-6">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Ajouter un nouveau type de médicament</h5>
        </div>
        <div class="card-body col-md-11">
          <form th:action="@{/typeMed/save}" method="post" th:object="${tm}">
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Nom</label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <input type="text" class="form-control" th:field="*{nomTypeMed}"/>
                </div>
              </div>
            </div>
            <div th:if="${success != null}" class="alert alert-info alert-dismissible" role="alert">
              <small th:text="${success}"></small>  
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Confirmer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>