<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Médicaments / Produits / </span>Ajouter produit conseillé</h4>
<div class="row">
    <!-- Basic with Icons -->
    <div class="col-xxl">
      <div class="card mb-8 col-md-8">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Ajouter un nouveau médicament à conseiller</h5>
        </div>
        <div class="card-body col-md-11">
          <form th:action="@{/conseils/save}" method="post">
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Nom</label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <input type="date" class="form-control" name="date" required/>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Médicament</label>
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <select class="form-control"  name="idMed" required>
                      <option th:each="med : ${medicaments}" th:value="${med.getid_med()}">
                      <p th:text="${med.getnom_med()}"></p>
                  </select>
                </div>
              </div>
            </div>
            <div th:if="${success != null}" class="alert alert-info alert-dismissible" role="alert">
              <small th:text="${success}"></small>  
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Insérer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>